.Weather {
  border: 1px solid #dadde1;
  background-color: #1e3d59;
  color: #ffca2c;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 20px;
}

.Weather .form-control,
.btn-warning {
  color: #1e3d59;
  border-radius: 20px;
  font-weight: bold;
}

.Weather h1 {
  color: #ffca2c;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather img {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -40px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
